---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="View transitions">
  <a transition:name="one" href="/view-transitions/one">One</a>
  <a transition:name="two" href="/view-transitions/two">Two</a>
  <a transition:name="three" href="/view-transitions/three">Three</a>
</Layout>
