---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="View transitions">
  <div class="h-[400px]">
    <div class="h-[300px]"></div>
    <p transition:name="one">One</p>
  </div>
</Layout>
