---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import image from "../images/trondheim.png";
---

<Layout title="Images">
  <h1>Images</h1>
  <p>
    <Image src={image} alt="Large image" />
  </p>
</Layout>
