---
import Layout from "../layouts/Layout.astro";
import ReactCounter from "../components/ReactCounter";
import SvelteCounter from "../components/SvelteCounter.svelte";
import DateTime from "../components/DateTime";
import Confetti from "../components/Confetti";
---

<Layout title="Integrations">
  <h1>Islands</h1>
  <div class="flex flex-col gap-10 h-[1000px]">
    <div class="border p-5 flex gap-2 flex-col h-fit">
      React counter island
      <ReactCounter client:load />
    </div>
    <div class="border p-5 flex gap-2 flex-col h-fit">
      Svelte counter island
      <SvelteCounter client:load />
    </div>
    <Confetti client:idle />
  </div>
  <DateTime client:visible />
</Layout>
